<!--
  Generated template for the EventDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Detail Acara {{currentEvent?.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <h2><Strong>{{currentEvent?.name}}</Strong></h2>
    </ion-card-header>
    <ion-card-content>
      <p>Ticket:
        <strong>Rp.{{currentEvent?.price}},00</strong>
      </p>
      <!--
      <p>Date:
       
        <strong>{{currentEvent?.date}}</strong>
        <ion-col *ngIf="currentEvent?.date"><span>edit</span></ion-col>
      </p>
      -->

      <ion-item (click)="updateDate()">
          <ion-grid>
              <ion-row>
                <ion-col col-6> Tanggal </ion-col>
                <ion-col col-6 *ngIf="currentEvent?.date">
                  {{currentEvent?.date}}
                </ion-col>
                <ion-col col-6 class="placeholder-profile" *ngIf="!currentEvent?.date">
                  <span> Tap here to edit. </span>
                </ion-col>
              </ion-row>
            </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>