<!--
  Generated template for the LogInPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LOGIN USER</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="loginForm" (submit)="LoginUser()" novalidate > <!--fungsi login ada di login.ts bukan di provider-->
    <ion-item>
        <ion-label stacked>email</ion-label>
        <ion-input formControlName="email" type="email" 
        placeholder="masukkan email anda .." 
        [class.invalid]="!loginForm.controls.email.valid && blur"></ion-input>
    </ion-item> 
    <!--jika error maka muncul pesan-->
    <ion-item class="error-message"  
    *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.touched">
      <p>masukkan email pengguna dengan benar</p>
    </ion-item>

    <ion-item>
        <ion-label stacked>Kata Kunci</ion-label>
        <ion-input formControlName="pass" type="password" 
        aria-placeholder="masukkan password anda .." 
        [class.invalid]="!loginForm.controls.pass.valid && blur"></ion-input>
    </ion-item> 
    <ion-item class="error-message"  
    *ngIf="!loginForm.controls.pass.valid && loginForm.controls.pass.touched">
      <p>masukkan password anda</p>
    </ion-item>

    <button ion-button color="light" block type="submit" [disabled]="!loginForm.valid">
      Masuk
    </button>
  </form>


  <button ion-button block clear (click)="goToSignup()">
    Buat User Baru
  </button>
  <button ion-button block clear (click)="goToReset()">
    reset Password
  </button>
</ion-content>
